* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Greta Sans Condensed Bold", "Greta Sans Bold", Arial, sans-serif;
  font-size: 20px;
}

body .container {
  width: 100%;
  height: auto;
}

body .main-nav {
  width: 80%;
  height: auto;
  margin: auto;
  display: flex;
  align-items: center;
}

body .main-nav img {
  width: 70px;
}

body .nav-list {
  flex-grow: 1;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  font-size: 15px;
  font-weight: 600;
}

body .nav-list a {
  text-decoration: none;
  color: #47484B;
}

body section.jumbotron {
  width: 100%;
  height: 300px;
  background-image: url("/storage/images/jumbotron.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

body .movies-list {
  width: 100%;
  height: 750px;
  background-color: #1B1B1B;
  position: relative;
}

body .movies-list .current-label {
  width: 250px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: white;
  font-weight: 600;
  white-space: nowrap;
  background-color: #00a9d9;
  position: absolute;
  top: -20px;
  left: 120px;
}

body .movies-list ul {
  width: 80%;
  margin: auto;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style-type: none;
  padding-top: 30px;
}

body .movies-list ul li {
  width: calc(100% / 6 - 20px);
  height: 220px;
  margin: 40px 20px 0 0;
}

body .movies-list ul li a {
  text-decoration: none;
}

body .movies-list ul li img {
  width: 100%;
  height: 80%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

body .movies-list ul li span {
  color: #ecebe1;
  font-weight: 600;
  font-size: 11px;
}

body .movies-list .b-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  margin-top: 55px;
}

body .movies-list .b-container .b-more {
  font-size: 13px;
  font-weight: 600;
  color: #ecebe1;
  background-color: #00a9d9;
  padding: 6px 35px;
  text-align: center;
  border-radius: 2px;
  border-color: transparent;
}

body .seller-row {
  width: 100%;
  height: 130px;
  background-color: #00a9d9;
  color: white;
}

body .seller-row .sell-items {
  width: 80%;
  height: 130px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

body .seller-row .sell-items a {
  font-size: 12px;
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  margin-right: 35px;
}

body .seller-row .sell-items a span {
  padding-left: 15px;
  font-weight: 600;
}

body .seller-row .sell-items .digitalImg {
  width: 50px;
}

body .seller-row .sell-items .mercImg {
  width: 60px;
}

body .seller-row .sell-items .subImg {
  width: 57px;
}

body .seller-row .sell-items .posImg {
  width: 37px;
}

body .seller-row .sell-items .visaImg {
  width: 60px;
}

