//

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    font-family: "Greta Sans Condensed Bold","Greta Sans Bold",Arial,sans-serif;
    font-size: 20px;

    .container{
        width: 100%;
        height: auto;
    }


    .main-nav{
        width:80% ;
        height: 100px;
        margin: auto;
        display: flex;
        align-items: center;


        img{
            width: 70px;
        }

        input{
            border: 0;
            color: #646262;
            font-size: 20px;
            outline: none;
            padding-left: 10px;
            padding-right: 25px;
            padding-bottom: 6px;
            text-align: right;
            vertical-align: middle;
            width: 120px;
            position: relative;
            border-bottom: 2px solid #00a9d9;        
        }

        .search{
            position: absolute;
            font-size: 18px;
            color: #646262;
            right: 136px;
            top: 39px;
        }
    }

    .nav-list{
        flex-grow: 1;
        display: flex;
        justify-content: space-evenly;
        list-style-type: none;
        font-size: 15px;
        font-weight: 600;

        a:hover{
            padding-bottom: 36px;
            border-bottom: 4px solid #00a9d9;
            color:#00a9d9 ;
        }

        a{
            text-decoration: none;
            color:#47484B
        }

    }
    
  

    .shopArr{
        color:#00a9d9;
        font-size: 12px;
    }


    section.jumbotron{
        width: 100%;
        height:350px;
        background-image: url('/storage/images/jumbotron.jpg');
        background-size:cover;
        background-repeat: no-repeat;
        background-position:top;
    }

    .movies-list{
        width: 100%;
        height:690px;
        background-color:#1B1B1B ;
        position: relative;

        .current-label{
            width: 250px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 25px;
            color: white;
            font-weight: 600;
            white-space: nowrap;
            background-color: #00a9d9;;
            position: absolute;
            top: -20px;
            left: 120px;

        }

        ul{
            width: 80%;
            margin: auto;
            height: auto;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            list-style-type: none;
            padding-top: 30px;

            li{
                width: calc(100% / 6 - 20px);
                height: 220px;
                margin: 40px 20px 0 0;

                a{
                    text-decoration: none;
                }

                img{
                    width: 100%;
                    height:80%;
                    object-fit: cover;
                    object-position: top;
                }

                span{
                    color: #ecebe1;
                    font-weight: 600;
                    font-size: 11px;
                }
            }
        }
        
        .b-container{

            width: 100%;
            height: auto;
            display: flex;
            justify-content: center;
            margin-top: 55px;

            .b-more{
                font-size: 13px;
                font-weight: 600;
                color: #ecebe1;
                background-color: #00a9d9;;
                padding: 6px 35px;
                text-align: center;
                border-radius: 2px;
                border-color: transparent;
                cursor: pointer;
               
            }
        }
    }

    .seller-row{
        width: 100%;
        height: 130px;
        background-color: #00a9d9;
        color:white;



        .sell-items{
            width: 80%;
            height: 130px;
            margin: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            list-style-type: none;

            
                
                a{
                    font-size: 12px;
                    text-decoration: none;
                    color: white;
                    display: flex;
                    align-items: center;
                    margin-right: 35px;

                    
                    span{
                        padding-left: 15px;
                        font-weight: 600;
                    }
                
                }

            
            .digitalImg{
                width: 50px;
            }
            
            .mercImg{
                width: 60px;
            }

            .subImg{
                width: 57px;
            }

            .posImg{
                width:37px;
            }

            .visaImg{
                width:60px;
            }
        
        
           


        }
    }

    footer{
        width: 100%;
        height: auto;



        .foot-up{
            width: 100%;
            height: 400px;
            margin: auto;
            display: flex;
            background-image: url('/storage/images/footer-bg.jpg'); 
            position: relative;
            z-index: -1;





            .left-side{
                width: 80%;
                margin: auto;


                .foot-list-container{
                    display: flex;
                    flex-wrap: wrap;
                    width: 50%;
                    height: 280px;
                    margin-top: 45px;
                    position: relative;

                   
                

                ul{
                    width:calc(100% / 3 - 30px);
                    display: inline-block;
                    align-self: flex-start;
                    list-style-type: none;
                    font-size: 13px;
                    margin-right: 30px;
                  

                    li a{
                        
                        list-style: none;
                        color: #959595;
                        text-decoration: none;
                        white-space: nowrap;
                       
                    }

                    li{
                        margin-bottom: 7px;

                    }

                    li h3{
                        
                       
                    font-size: 18px;
                    font-weight: 600;
                    margin-bottom: 10px;
                    color: white;
                    white-space: nowrap;
                    
                    }


              }

                ul:last-child{
                    flex-grow: 1;
                    position: absolute;
                    bottom:13px;
                }
            }
        }


        }
        
        .credits{

            
                /* display: block; */
                font-size: 14px;
                color: #959595;
                align-self: flex-end;
                justify-self:flex-start;
                margin-top:5px;

                a{
                    color: #0282f9;
                    text-decoration: none;
                }

                &:last-child{
                    margin-bottom: 70px;
                }
           

        }

       
            .bg-logo{
                width: 530px;
                height: 530px;
                position: absolute;
                right: 64px;
                top: -68px;
                z-index: -10;
              
            
        }
    }


    .foot-down{
        height: 90px;
        width: 100%;
        background-color: #2F2F2F;
       

        .douwn-container{
            width: 80%;
            height: 90px;
            margin: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
    
            .douwn-left-side{
                width: 60%;

                a{
                    font-size: 22px;
                    color: white;
                    text-decoration: none;
                    padding: 8px;
                    border:2px solid #027FF1;

                }
            }

            .douwn-left-right{
                width: 40%;
                display: flex;
                align-items: center;

                span{
                    color:#027FF1;
                    font-size: 18px;
                    font-weight: bold;
                    margin-right: 15px;
                }

                img{
                    width: 30px;
                    height: 30px;
                    margin-right: 12px;


                }
            }
        }

    }
}